@import url('shared/variables.css');
@import url('shared/responsivity.css');

@import url('containers/profile.css');
@import url('containers/about.css');
@import url('containers/projects.css');

@import url('components/header.css');
@import url('components/footer.css');
@import url('components/card.css');
@import url('components/button.css');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Raleway', sans-serif;
  scroll-padding-top: calc(var(--header-height) + 2rem);
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-text-primary);
}

p {
  font-size: 1.5rem;
  color: var(--color-text-secondary);
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: var(--color-background);
}

main {
  width: inherit;
  max-width: var(--max-page-width);
  height: inherit;
  min-height: calc(100% - var(--header-height));
  margin: 0 auto;
  padding: 2rem;
  padding-top: calc(var(--header-height) + 2rem);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}