:root {
  /* New palletes */
  --a: hsl(197, 41%, 32%);
  --b: hsl(42, 79%, 73%);
  --c: hsl(15, 72%, 79%);
  --d: hsl(330, 78%, 75%);
  /* End */
  
  --color-base-primary: hsl(200, 100%, 50%);
  --color-base-secondary: hsl(37, 100%, 50%);
  --color-base-ternary: hsl(7, 100%, 50%);
  --color-base-hue: 200;
  --color-background: hsl(var(--color-base-hue), 100%, 90%);
  --color-text-primary: hsl(var(--color-base-hue), 70%, 25%);
  --color-text-secondary: hsl(var(--color-base-hue), 95%, 25%);

  --max-page-width: 1300px;
  --header-height: 5rem;
  --footer-height: 10rem;

  --color-button-primary-background: hsl(var(--color-base-hue), 70%, 25%);
  --color-button-primary-background-hover: hsl(var(--color-base-hue), 100%, 35%);
  --color-button-primary: hsl(var(--color-base-hue), 100%, 95%);

  --color-card-background: hsl(var(--color-base-hue), 80%, 95%);
}