:root {
  --color-button-primary-background: hsl(var(--color-base-hue), 70%, 25%);
  --color-button-primary-background-hover: hsl(var(--color-base-hue), 60%, 30%);
  --color-button-primary: hsl(var(--color-base-hue), 100%, 95%);
}

.btn {
  height: 2rem;
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s all;
}

.btn-primary {
  background-color: var(--color-button-primary-background);
  color: var(--color-button-primary);
  font-weight: 500;
}

.btn-primary:hover {
  background-color: var(--color-button-primary-background-hover);
}

.btn-primary:focus {
  background-color: var(--color-button-primary-background-hover);
  border: 2px solid black;
}